{#
    top-bar

    This file is used to generate a single view for `top-bar`.
    Sources should be defined within the module's view.

    Do not use this file for defining core html for this module.
    You should define your code within `top-bar/partials`.
#}

{% extends "totem::src/resources/templates/module/module.twig" %}

{% block module %}

    {% embed "totem_submodules::totem.module.top-bar/partials/top-bar.twig" %}
        {% block module %}
            <h1>Top Bar</h1>
        {% endblock %}
    {% endembed %}

    <img src="http://placehold.it/200x3000" alt="">

{% endblock %}

{% block head %}
    <link href="stylesheets/top-bar.css" rel="stylesheet"/>
{% endblock %}

{% block foot %}
    <script>{% include "totem_submodules::totem.module.top-bar/node_modules/jquery/dist/jquery.min.js" ignore missing %}</script>

    <script src="javascripts/top-bar.js"></script>

    <script>
        $(function() {
            setTopBar();
        });
    </script>

{% endblock %}